@mixin default_input_container {
  border: var(--border-color) solid 1px;
  border-radius: 15px;
  width: 20vw;
  height: var(--input-container-height);
  min-height: var(--input-min-height);
}

@mixin default_input {
  padding-left: 10px;
  height: var(--input-height);
  min-height: var(--input-min-height);
  border: none;
  background-color: transparent !important;
  font-size: 1.5rem;
}



